In [23]:
import pandas as pd
in_fel = pd.read_csv('insight_fellows.csv')

In [24]:
print(in_fel.shape)
print(in_fel.head())
print(in_fel.info())

(620, 2)
                       name              employer
0  Alexander Tronchin-James              Facebook
1               Nishan Mann  automotiveMastermind
2              Sean McCurdy             Pinterest
3                Kenny Kwan               Booster
4                 Wei Zhang          Walmart Labs
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620 entries, 0 to 619
Data columns (total 2 columns):
name        620 non-null object
employer    620 non-null object
dtypes: object(2)
memory usage: 4.9+ KB
None

In [25]:
# Number of distinct companies employing Insight data science fellows

print(in_fel['employer'].nunique())

318

In [32]:
# List of most prolific employers of Insight data science alumni

employers = in_fel['employer'].value_counts()

print(employers)

Facebook                       45
Stitch Fix                     20
null                           17
LinkedIn                       16
Insight Data Science           13
Yelp                           11
Netflix                        11
Intuit                          9
Airbnb                          9
Square                          9
Capital One                     8
Uber                            8
Twitter                         8
Viacom                          7
Silicon Valley Data Science     7
Google                          7
Gartner                         6
Apple                           6
Schireson                       6
Microsoft Yammer                6
Macy's                          5
SalesforceIQ                    5
Grand Rounds                    5
IBM                             5
Nielsen                         4
Tamr                            4
Amazon                          4
Twitch                          4
Sojern                          4
Bloomberg                       4
                               ..
Element Analytics               1
Handshake                       1
Compass                         1
Design Interactive              1
Custora                         1
Jet.com                         1
Rubicon Project                 1
Software Engineer               1
YouTube                         1
OpenSlate                       1
Probayes                        1
Winton Group                    1
Zillabyte                       1
The Broad Institute             1
Booster                         1
Parsec                          1
ZocDoc                          1
A9.com                          1
Telefonica                      1
Electronic Arts                 1
Tesla                           1
Akamai                          1
Seven Bridges                   1
BloomReach                      1
Alpha-I                         1
JP Morgan                       1
Avant                           1
Applecart                       1
Morsum                          1
State Farm                      1
Name: employer, Length: 318, dtype: int64

In [30]:
print(in_fel[in_fel['employer'] == 'Facebook'])

                          name  employer
0     Alexander Tronchin-James  Facebook
6              Christina Huang  Facebook
53           David Hochstetler  Facebook
58             Stephen Swedish  Facebook
77                Erin Summers  Facebook
79     Dominique Van de Sompel  Facebook
101               Jack Cackler  Facebook
120               Lindsay Vass  Facebook
128          Julija Bagdonaite  Facebook
133            Kevin Schaeffer  Facebook
134           Elizabeth Leicht  Facebook
139             Cinna Julie Wu  Facebook
162                 Eric Zilli  Facebook
170                Wenliang He  Facebook
177                Mary Thomas  Facebook
180                Adrian Kuhn  Facebook
183                   Yan Wang  Facebook
212               Zack Chadick  Facebook
213                 Emma Ideal  Facebook
216          Laura Guglielmini  Facebook
269                  Keoki Seu  Facebook
276          Cristian Figueroa  Facebook
281               Matthew Folz  Facebook
296                 Jen Steele  Facebook
331             Justin Parella  Facebook
342                    Mei Gao  Facebook
347                   Wei Wang  Facebook
391              Adel Dayarian  Facebook
393             Hari Sivakumar  Facebook
401                 Sumin Tang  Facebook
411               Matt Langner  Facebook
429                 Andrew Koo  Facebook
442                     Yao Li  Facebook
446              Kevin Wheeler  Facebook
456             Maria Minakova  Facebook
461             Mahshid Najafi  Facebook
463              Maxwell Zheng  Facebook
464  Virot Ta Chiraphadhanakul  Facebook
471         Krystal St. Julien  Facebook
476             Kristen Werner  Facebook
486               Vickie Zhang  Facebook
500             Nicholas Tomko  Facebook
526            Laleh Sadeghian  Facebook
553              Bryan Kerster  Facebook
576                  Erin Hult  Facebook

In [33]:
# Summary statistics

print(employers.describe())

count    318.000000
mean       1.949686
std        3.363937
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max       45.000000
Name: employer, dtype: float64